.nav-bar {
    background: #181818;
    width:100%;
    height: 60px;
    position: fixed;
    top: 0;
    z-index: 3;
    min-height:initial;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    

    .logo {
        position: absolute; /* Changed to absolute positioning */
        top: -7px;
        left: 0;
        padding: 8px;

        img {
            display: block;
            margin: 8px auto;
            width: 40px;
            height: auto;


        }
    }

    nav {
        display: flex;
        align-items: center;
        justify-content: right;
        height: 100%;
        width: 95%;

        a{
            font-size: 35px;
            color: #4d4d4d;
            display:block;
            line-height: 55px;
            height: 43px;
            position: center;
            text-decoration: none;
            margin: 0 30px;

            i{
                transition: all 0.3s ease-out;
            }

            &:hover{
                color: #fdfdfc;

                svg {
                    opacity: 0;
                    color: #fdfdfc;
                }

                &:after{
                    opacity: 1;
                }
            }

            &:after{
                content: '';
                font-size: 15px;
                letter-spacing: 2px;
                text-decoration: underline;
                position: absolute;
                height:45px;
                bottom: 0;
                display: block;
                width: 100%;
                text-align: left;
                opacity: 0;
                transition: all 0.1s ease-out;
            }

            &.active{
                &:after{
                    content: 'Home'
                }
                svg{
                    color:rgb(255, 255, 255);
                }
            }

            &.work-page{
                &:after{
                    content: 'Work'
                }
                svg{
                    color:rgb(255, 255, 255);
                }

            }

            &.about-link{
                &:after{
                    content: 'About me'
                }
                svg{
                    color:rgb(255, 255, 255);
                }
            }

            &.content-page{
                &:after{
                    content: 'Projects'
                }
                svg{
                    color:rgb(255, 255, 255);
                }
            }
        }

    }

    ul{

        position: absolute;
        bottom: 20px;
        width: 80%;
        display: block;
        padding: 0;
        right: 10px;
        list-style: none;
        text-align: right;
        margin: 0;

        li{

            display: inline-block;
            margin: 0 10px;
            a{
                font-size: 20px;
                line-height: 5px;

                &:hover svg{
                    color: #fdfdfc;

                }


            }
        }



    }
}